<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Trip Planner Results Page</title>
        <script src="{{url_for('static', filename='main.js')}}"></script>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}"></link>
    </head>
    <body>
        <div class="intro">
            <h1>Please check newly opened tabs </h1>
            <p>Please remember to double check results (be carefull with pickup/dropoff locations)</p>
        </div>
    </body>
</html>